<div class="conference__upcoming">
    <h2>Coming up next</h2>
    <ul class="conference__schedule">
        {{#each upcomingEvents as |entry|}}
            <ScheduleEntry @entry={{entry}} @isLive={{true}} @showSave={{false}} />
        {{/each}}
    </ul>
</div>

{{#unless isConferenceRegistered}}
    <div class="conference__login_prompt alert alert-error">
        To access the Zoom rooms for live sessions and to participate in conference discussions, you must login into OEG
        Connect. If you do not yet have an account here and you have registered for the conference, <a
            href="http://members.oeconsortium.org/conferences/connect/" target="_blank" rel="noreferrer noopener">request
        an invitation to create your account</a>.
    </div>
{{/unless}}

<h2>OE Global 2020 Schedule</h2>
<p>All dates/times are adjusted to your local time</p>

<div class="conference__filters">
    <div class="conference__filters__dropdowns">
        <select onchange={{action (mut selectedDay) value="target.value"}}>
            {{#each availableDays as |day|}}
                <option value={{day}}>{{day}}</option>
            {{/each}}
        </select>

        <select onchange={{action (mut selectedTopic) value="target.value"}}>
            {{#each availableTopics as |topic|}}
                <option value={{topic}}>{{topic}}</option>
            {{/each}}
        </select>
    </div>

    {{#if isConferenceRegistered}}
        {{#if faves}}
            <label class="btn-icon-text conference__filter__mine">
                {{if showMine (d-icon 'oeg-icon-circle-check') (d-icon 'oeg-icon-circle')}}
                <span class="d-button-label">Only show my {{faves.length}} saved {{if pluralFaves 'session'
                                                                                      'sessions'}}</span>
                {{input type="checkbox" checked=showMine}}
            </label>
        {{else}}
            <label class="conference__filter__mine">Save at least one session to create a personal calendar</label>
        {{/if}}
    {{/if}}
</div>

{{#each-in filteredSessions as |date entries|}}
    {{#if entries}}
        <h2 class="conference__schedule__date">{{date}}</h2>
        <ul class="conference__schedule">
            {{#each entries as |entry|}}
                <ScheduleEntry @entry={{entry}} @isLive={{entry.sync}} @showSave={{true}} />
            {{/each}}
        </ul>
    {{/if}}
{{/each-in}}

<hr/>
{{outlet}}

