{{!--
<div class="conference__upcoming">
    <h2>Coming up next</h2>
    <ul class="conference__schedule">
        {{#each upcomingEvents as |entry|}}
            <ScheduleEntry @entry={{entry}} @isLive={{true}} @showSave={{false}} />
        {{/each}}
    </ul>
</div>
--}}

<h2>OE Global 2020 Preliminary Schedule</h2>
<p>All dates/times are adjusted to your local time</p>

<div class="conference__filters">
    <select onchange={{action (mut selectedDay) value="target.value"}}>
        {{#each availableDays as |day|}}
            <option value={{day}}>{{day}}</option>
        {{/each}}
    </select>

    {{#if isConferenceRegistered}}
        <label class="btn-icon-text conference__filter__mine">
            {{if showMine (d-icon 'oeg-icon-circle-check') (d-icon 'oeg-icon-circle')}}
            <span class="d-button-label">Only show my saved sessions</span>
            {{input type="checkbox" checked=showMine}}
        </label>
    {{/if}}
</div>

{{#each-in filteredSessions as |date entries|}}
    {{#if entries}}
        <h2 class="conference__schedule__date">{{date}}</h2>
        <ul class="conference__schedule">
            {{#each entries as |entry|}}
                <ScheduleEntry @entry={{entry}} @isLive={{entry.sync}} @showSave={{true}} />
            {{/each}}
        </ul>
    {{/if}}
{{/each-in}}

<hr/>
{{outlet}}

