<div class="conference__event">
    {{#if @isLive}}
        <span class="conference__event__time">{{ startTime }}</span>
    {{/if}}
    <span class="conference__event__content">
        <a class="conference__event__meta" href="{{ @entry.url }}">
            <span class="conference__event__author">{{@entry.author}}</span>
            <span class="conference__event__title">{{ @entry.title }}</span>
            <span class="conference__event__labels">
            <a class="badge-wrapper bullet" href="/c/oeg-2020/15"><span class="badge-category-bg"
                                                                        style={{{this.kindColor}}}></span><span
                    data-drop-close="true" class="badge-category clear-badge"><span
                    class="category-name">{{@entry.kind}}</span></span></a>
            <a class="badge-wrapper bullet" href="/c/oeg-2020/15"><span class="badge-category-bg"
                                                                        style={{{this.topicColor}}}></span><span
                    data-drop-close="true" class="badge-category clear-badge"><span
                    class="category-name">{{@entry.topic}}</span></span></a>
            </span>
        </a>
    </span>
    {{#if isConferenceRegistered}}
        <span class="conference__event__actions">
        {{#if @showSave}}
            <ToggleFave @sessionTag={{@entry.easychair}} />
        {{/if}}
            {{#if @isLive}}
                <a href="#" class="btn-primary btn btn-icon-text">
                {{d-icon 'oeg-icon-video'}}
                    <span class="d-button-label">Room {{ @entry.track }}</span>
            </a>
            {{/if}}
    </span>
    {{/if}}
</div>
